body {
  font-family: Arial, sans-serif;
  background-color: #f5f1f5;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  background: #7a2d70;
  padding: 25px 30px;
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0,0,0,0.2);
  text-align: center;
  width: 320px;
}

h2 {
  margin-bottom: 20px;
  color: #f4ebeb;
}

input[type="email"] {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #6c3236;
  border-radius: 5px;
}

button {
  width: 100%;
  padding: 10px;
  background: #cac984;
  color: rgb(137, 109, 109);
  border: none;
  border-radius: 5px;
  font-size: 15px;
  cursor: pointer;
}

button:hover {
  background: #004d99;
}